    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <p class="text-muted">About</p>
              <h2>電書ちゃんねるとは</h2>
              <br/>
                <p class="font-serif">電書ちゃんねるは自由で楽しい電子出版を応援する任意団体です。</p>
                <p class="font-serif">主に技術的側面を中心とする執筆活動とソフトウェア開発を通じて、<span class="inline-block">あなたの出版を後押しします。</span></p>
                <p><br/></p>
              </div>
        </div>
    </section>
