 <div id="profile">
   <div class="card-block">
     <div class="panel-body">
       <ul class="media-list">
        {% for member in page.member  %}
        <li class="media card card-block m-b-md">
          <div class="pull-left">
            <a href="http://twitter.com/{{ member.twitter }}" title="Twitter">
              <img style="width: 64px;" src="{{member.img}}" alt="" class="media-object img-circle m-b m-r">
            </a>
            {% if member.book %}
            <hr class="devider hidden-sm-down m-r" />
            <a href="{{member.book.url}}">
              <div class="book" style="width:64px;height:64px;background-image:url('{{member.book.img}}');background-repeat: no-repeat;background-size:cover;border-radius:2px;" title="{{ member.book.title }}"></div>
              <!-- <img style="width: 64px;height:64px;" src="{{member.book.img}}" alt="" class="media-object img-rounded m-b"> -->
            </a>
            {% endif %}
          </div>

          <div class="media-body">
            <div class="media-heading font-sans name-container">
              <b>{{ member.name }}</b>
            </div>
            <div class="description">
              <p class="comment font-sans text-muted">{{ member.comment }}</p>

              <p class="font-serif">{{ member.description }}</p>



              <ul class="list-inline">
                <li><a href="http://twitter.com/{{ member.twitter }}" title="Twitter"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li> 
              </ul>

              
            </div>
           </div>
         </li>
        {% endfor %}
       </ul>
     </div>
   </div>
 </div>