<section id="profile" class="m-t m-b">
  <div class="container">

      <div class="card-block">
        <p class="card-title font-sans text-center text-muted">Members</p>
          <div class="panel-body">
            <ul class="media-list">
               
              <li class="media">
                <div style="margin-right: 20px;" class="pull-left"><img style="width: 64px;" src="img/denshochan_20101213_face.png" alt="" class="media-object img-circle"></div>
                <div class="media-body">
                  <div class="media-heading">
                    電書ちゃん
                     <small class="text-muted">でんしょちゃん</small>
                  </div>

                  <div class="m-t">
                     
                    <p class="font-serif">電書ちゃんねるのマスコットキャラクター。ウェブ空間に生息する霊的存在。お喋り、わがまま、食いしん坊。一人称は「あたし」。紅茶とブラックサンダーが大好き。誕生日は9月20日。強気だが意外と泣き虫。</p>

                    <p><small>Illustration © Jcn,inc. &amp; Garakuta</small></p>
                  </div>

                  <ul class="list-inline">
                     
                    
                    <li><a href="http://denshochan.hateblo.jp/" title="Web site"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-home fa-stack-1x fa-inverse"></i></span></a></li> 
                    
                    
                    <li><a href="http://twitter.com/denshochan" title="Twitter"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li> 
                    
                  </ul>
                </div>
              </li> 


              <li class="media m-t-lg">
                <div style="margin-right: 20px;" class="pull-left"><img style="width: 64px;" src="http://static.tumblr.com/b8da4375d735432e52414cce134f3094/9srtpqq/YIence3oo/tumblr_static_a37w9t58dkgsc48cg0s4s8gc.png" alt="" class="media-object img-circle"><hr>
                  <img style="width: 64px;" src="img/portrait_mono_square_200x200.png" alt="" class="media-object img-circle"></div>
                <div class="media-body">
                  <div class="media-heading">
                    ろす
                     <small class="text-muted">高瀬 拓史; TAKASE, Hiroshi</small>
                  </div>
                  <div class="m-t">
                     
                    <p class="font-serif">2010年に日本電子出版協会（JEPA）の依頼を受け、電子出版フォーマットとして英語圏で普及が始まっていた「EPUB」に、縦書き、ルビ等日本語レイアウトを実現するための要求仕様作成に関わる。同年6月に開始したEPUB3の仕様策定を受け、EPUBへの日本語レイアウト対応が総務省電子出版環境整備事業に採択されると、プロジェクトメンバーとして国内有識者の意見取りまとめを行う。</p>

                    <p class="font-serif">個人としての活動では、電子書籍の情報サイト『電書ちゃんねる』を主宰。2013年に発表したEPUB制作ウェブアプリケーション『でんでんコンバーター』は、セルフパブリッシャー（個人出版者）を中心に支持を集め、同年のJEPA電子出版アワードで大賞を受賞した。訳書に『EPUB 3とは何か？』（マット・ガリッシュ著、オライリー・ジャパン）がある。</p>
                  </div>
                  <ul class="list-inline">
                     
                    
                    <li><a href="http://densho.hatenablog.com/" title="Web site"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-home fa-stack-1x fa-inverse"></i></span></a></li> 
                    
                    
                    <li><a href="http://twitter.com/lost_and_found" title="Twitter"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li> 
                    
                    
                    <li><a href="http://facebook.com/hiroshi.takase" title="Facebook"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li> 
                    
                    
                    <li><a href="http://plus.google.com/+HiroshiTakase" title="Google Plus"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></span></a></li> 
                    
                  </ul>
                </div>
              </li> 
              
            </ul>
          </div>
      </div>

  </div>
</section>