<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  {% include post_head.html %}
  
  <body>
    <div class="container m-t-lg">
      <div class="row">
        <article class="post col-md-8 col-md-offset-2 m-b-lg">
          <header class="post-header sr-only">
          	<h2 class="post-heading">{{ page.title }}</h2>
          </header>
          <div class="post-body">
            <p class="text-center m-b-lg">
              <img class="img-rounded" style="max-width:100%" src="/img/shinchoku_dame.png" alt="" role="presentaion" />
            </p>

            {{ page.content }}

          </div>
        </article>
      </div>
      </div>
  	</div>
  </body>
</html>